<p></p>
<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" id="inputTask" class="form-control" placeholder="Add new todo">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2" (click)="addToDo()">
                    <i class="fas fa-plus-square"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Task toDo <span class="badge badge-primary">{{totalTaskToComplete}}</span></h5>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todo of todos">
                {{todo.name}}
                <span>
                    <small class="text-muted">{{todo.dateStr}} </small>
                    <button class="btn btn-success" type="button" id="button-addon2">completed</button>
                    <button class="btn btn-primary" type="button" id="button-addon2"><i class="far fa-edit"></i></button>
                    <button class="btn btn-danger" type="button" id="button-addon2"><i class="fas fa-trash-alt"></i></button>
                </span>
            </li>
        </ul>
    </div>
</div>
<p>
    <div class="row">
        <div class="col">
            <h5>Completed Task <span class="badge badge-primary">4</span></h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Estudar angular
                    <span>
                        <small class="text-muted">completed on Dec 25, 2008 8:03 pm </small>
                        <button class="btn btn-danger" type="button" id="button-addon2"><i
                                class="fas fa-trash-alt"></i></button>
                    </span>
                </li>
            </ul>
        </div>
