<div class="content">
    <form [formGroup]="checkoutForm" (ngSubmit)="onAddToDo(checkoutForm.value)">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                    <input type="text" id="todoName" formControlName="todoName" class="form-control" placeholder="Add new todo">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="fas fa-plus-square text-primary"></i>
                        </button>
                    </div>
            </div>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col">
            <h5>Task toDo <span class="badge badge-light text-secondary">{{getTotalToDoToComplete()}}</span></h5>
                    <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todo of todosNotDone()">
                                {{todo.name}}
                                <span>
                                    <small class="text-muted">{{todo.dateStr}}</small>
                                    <button class="btn btn-light" type="button" (click)="markAsCompleted(todo)"><i class="fa fa-check text-success" aria-hidden="true"></i></button>
                                    <button class="btn btn-light" type="button" (click)="deleteToDo(todo)" ><i class="fas fa-trash-alt text-danger"></i></button>
                                </span>
                            </li>
                        </ul>
        </div>
    </div>
    <p>
    <div class="row">
        <div class="col">
            <h5>Completed Task <span class="badge badge-light text-secondary">{{getTotalToDoDone()}}</span></h5>
            <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todoDone of todosDone()">
                        {{todoDone.name}}
                        <span>
                            <small class="text-muted">{{todoDone.dateCompleteStr}} </small>
                            <button class="btn btn-light" type="button" (click)="deleteToDo(todoDone)">
                                <i class="fas fa-trash-alt text-danger"></i>
                            </button>
                        </span>
                    </li>
                </ul>
        </div>
    </div>
</div>
      