<ul class="list-group">
    <div class="row hover-cursor" (click)="onListSelected(1)">
      <div class="col-1">
        <i class="fa fa-tasks" aria-hidden="true"></i>
      </div>
      <div class="col">
        Tasks
      </div>
    </div>
    <div class="row hover-cursor" (click)="onListSelected(2)">
        <div class="col-1">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <div class="col">
            Starred
        </div>
      </div>    
</ul>
<hr>
<div class="row">
  <div class=col></div>
</div>
<ul class="list-group">
  <div class="row hover-cursor" (click)="onListSelected(list.id)" *ngFor="let list of personalizedList">
    <div class="col-1">
      <i class="fa fa-tasks" aria-hidden="true"></i>
    </div>
    <div class="col">
      {{list.name}}
    </div>
    <div class="col-1">
      <i class="fa fa-trash-o" (click)="deletePersonalizedList(list)"></i>
    </div>
  </div>
</ul>
<p>
<form [formGroup]="personalizedListForm" (ngSubmit)="onAddPersonalizedList(personalizedListForm.value)">
  <div class="row">
    <div class=col>
        <div class="input-group mb-3">
            <input type="text" id="listName" formControlName="listName" class="form-control " placeholder="add new list">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
    </div>
  </div>
</form>