<div class="row">
  <div class=col>
    <i class="fa fa-tasks" aria-hidden="true"></i>
    Tasks
  </div>
</div>
<div class="row">
  <div class=col>
    <i class="fa fa-tasks" aria-hidden="true"></i>
    Starred
  </div>
</div>
<hr>
<div class="row">
  <div class=col></div>
</div>
<ul class="list-group">
  <div class="row hover-cursor" *ngFor="let list of personalizedList">
    <div class="col-1">
      <i class="fa fa-tasks" aria-hidden="true"></i>
    </div>
    <div class="col">
      {{list.name}}
    </div>
    <div class="col-1">
      <i class="fa fa-trash-o" (click)="deletePersonalizedList(list)"></i>
    </div>
  </div>
</ul>
<p>
<form [formGroup]="personalizedListForm" (ngSubmit)="onAddPersonalizedList(personalizedListForm.value)">
  <div class="row">
    <div class=col>
      <input type="text" class="form-control bg-transparent" id="listName" formControlName="listName"
        placeholder="new list">
    </div>
  </div>
</form>