<form class="form-signin" [formGroup]="checkoutForm" (ngSubmit)="login(checkoutForm.value)">
    <div class="form-group align-self-center align-items-center">
        <div class="row justify-content-center">
            <div class="col text-center">
                    <h1>
                            <i class="fa fa-list-ol" aria-hidden="true"></i> To-Do
                    </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <input type="text" class="form-control ng-invalid" placeholder="Email" id="user" formControlName="user" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                    <small class="form-check-label" for="rememberMe">
                        Remember Me
                    </small>
                </div>
            </div>
            <div class="col text-center">
                <small>
                   <a class="text-dark" href="#">Forgot your password?</a>
                </small>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center" >
                <button id="btnSignIn" type="submit" [disabled]="!checkoutForm.valid" class="btn btn-primary btn-block">
                    Sign in
                </button>
            </div>
            <div class="col text-center" >
                <a routerLink="/register" class="btn btn-primary btn-block">Register</a>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="!isValid">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    {{errMsg}}
                </div>
            </div>
        </div>
    </div>
</form>