<form class="form-registry" [formGroup]="fg" (ngSubmit)="register(fg.value)">
    <div class="form-group align-self-center align-items-center">
            <div class="row justify-content-center">
                    <div class="col text-center">
                            <h1>
                                    <i class="fa fa-list-ol" aria-hidden="true"></i> To-Do
                            </h1>
                    </div>
                </div>
        <div *ngIf="registerOk">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <label class="text-muted">
                        <h3>
                            Registration successful
                        </h3>
                    </label>
                    <a routerLink="/login" class="btn btn-block btn-primary">Go to login page</a>
                </div>
            </div>
        </div>
        <div *ngIf="!registerOk">
            <div class="row justify-content-center">
                <div class="col">
                    <input type="text" class="form-control ng-invalid" placeholder="First name" id="firstName"
                        formControlName="firstName" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <input type="text" class="form-control ng-invalid" placeholder="Last name" id="lastName"
                        formControlName="lastName" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <input type="email" class="form-control ng-invalid" placeholder="Email" id="email"
                        formControlName="email" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <input type="password" class="form-control" placeholder="Password" id="password"
                        formControlName="password" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <button [disabled]="loading" id="btnSignIn" type="submit" class="btn btn-block btn-primary">
                        Register
                    </button>
                </div>
                <div class="col text-center">
                    <a routerLink="/login" class="btn btn-block btn-primary">Cancel</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div *ngIf="!isValid" class="alert alert-danger" role="alert">
                        {{errMsg}}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="loading">
                    <div class="col text-center">
                        <img *ngIf="loading" class="pl-3"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
            </div>            
        </div>
    </div>
</form>
