<form class="form-registry" [formGroup]="fg" (ngSubmit)="register(fg.value)">
    <div class="form-group align-self-center align-items-center">
            <div class="row justify-content-center">
                    <div class="col text-center">
                            <h1>
                                    <i class="fa fa-list-ol" aria-hidden="true"></i> To-Do
                            </h1>
                    </div>
                </div>
        <div *ngIf="registerOk">
            <div class="row justify-content-center">
                <div class="col text-center">
                    <label class="text-muted">
                        <h3>
                            Registration successful
                        </h3>
                    </label>
                    <a routerLink="/login" class="btn btn-block btn-primary">Go to login page</a>
                </div>
            </div>
        </div>
        <div *ngIf="!registerOk">
            <div class="row justify-content-center">
                <div class="col">
                    <input type="text" class="form-control ng-invalid" placeholder="First name" id="firstName"
                        formControlName="firstName" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <input type="text" class="form-control ng-invalid" placeholder="Last name" id="lastName"
                        formControlName="lastName" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <input type="email" class="form-control ng-invalid" placeholder="Email" id="email"
                        formControlName="email" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <input type="password" class="form-control" placeholder="Password" id="password"
                        formControlName="password" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <button id="btnSignIn" type="submit" [disabled]="!fg.valid"
                        class="btn btn-block btn-primary">
                        Register
                    </button>
                </div>
                <div class="col text-center">
                    <a routerLink="/login" class="btn btn-block btn-primary">Cancel</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div *ngIf="!isValid" class="alert alert-danger" role="alert">
                        {{errMsg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>